.modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17); */
    transition: all .8s;
    /* width: 100%; */
}


.modal-body {
    padding: 10px 15px;
    text-align: center;
    height: 400px;
    overflow-y: auto;
}

.modal-footer {
    height: 35px;
    padding: 25px;
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
        border:none;
        margin: 10px 10px 0 80px;
        color:#6aa06c;
        font-size:25px;
        
      }
.open-modal-btn:focus{
    outline:none;
}


