body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.jumbotron {
  text-align: center;
  margin-top:10px;
  background-color: #f97575;

}


.navbar-expand-lg .navbar-collapse {
  background-color: white;
 

}

.navbar-nav {
  background-color: white;
 
}

a {
  background-color: white;

}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  /* color: #FCA326; */
  color:#6aa06c;
  float: right;
  padding: 12px;
  /* color:#FCA326; */
  text-decoration: none;
  font-size: 25px;

}

.navbar-light .navbar-nav .nav-link {
  color:#6aa06c;
  float: right;
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
}
.navbar:hover{
  color: #1a010114;
}

.flex-container {
  display: flex;
  background-color: white;
}

.flex-container > div {
  background-color: white;
  margin: 5px;
  padding: 1px;
  font-size: 15px;
  margin-top: auto;
}

.blockquote-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color:#FCA326;
  text-align: center;
}

footer {
  text-align: center;
  margin: 100px;


}

.nav-item {
  background-color: white;
}

.bg-light {
  background-color: white!important;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #FCA326;
  display: flex; 
  justify-content: center;
  margin-top: 50px;
}

#footerlogos {
  display: flex; justify-content: center;
}

.wplock {
  height: 100px;
  justify-content: center;
  text-align: center;
  
}

.wpcommunity {
  height: 100px;
  justify-content: center;
  text-align: center;
 
}
.wpmobile {
  height: 100px;
  justify-content: center;
  text-align: center;
 
}
.column {
  column-count: 3;
}

.col-sm-3 {

  background-size: cover;
  background-position: center 30%;
  box-sizing: content-box;
width: 100%;
border: orange 10px;
padding: 10px;
width: 50%;
float: left;
margin-left: 50px;

}

.userfront {
  box-shadow: 0 0 0 5px #FCA326;
}




.usi {
   height: 100px;
  justify-content: center;
  text-align: center;
}

.h5, h5 {
  color: #FCA326;
}

.li, li {
  color: #FCA326;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.biocolumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.classcolumn {
 margin-left: 115px;
  height: 100px;
}

.posteventscolumn {

  height: 100px;
}

.eventscolumn {

  height: 100px;
  margin-left: 95px;
}

