.card {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 6px solid white;
  height: 400px;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}

.card .fa-spinner {
  font-size: 180px;
  position: absolute;
  left: 25%;
  top: 25%;
}

.card-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  border: none;
  bottom: 10%;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  font-family: FontAwesome;
  outline: none;
}

.back {
  top: 50%;
  left: 20%;
  background: #43a047;
}

.back::after {
  content: "\f0a8";
}

.next {
  top: 50%;
  right: 20%;
  background: #43a047;
}

.next::after {
  content: "\f0a9";
}

.next:hover::after,
.back:hover::after {
  animation: iconBounce 0.57s 1;
}

@keyframes iconBounce {
  0% {
    font-size: 24px;
  }

  50% {
    font-size: 28px;
  }

  100% {
    font-size: 24px;
  }
}

.card-container {
  margin: 0 auto;
  padding: 20px 200px;
}
.heading {
  background-color: white;
  width: 100%;
}
.blue {
  color: blue;
}
