input,textarea{
  display: block;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;

}


.submitButton{
  padding: 5px;
  margin: 10px;
  background-color: black; 
  color: white;
  border: 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h3{
  margin: 10px;
}

#registerForm{
  background-color: rgb(218, 118, 118);
  border: 2px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding:30px;
  border-radius: 10px;
}