input{
  display: block;
  padding: 5px;
  margin: 10px;
}

button{
  padding: 5px;
  margin: 10px;
  background-color: black;
  color: white;
  border: 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h3{
  margin: 10px;
}

form{
  background-color: rgb(218, 118, 118);
  border: 3px solid black;
  border-radius: 10px;
}